.git
.github
.DS_Store

.bin
bin
dist
build
coverage
.cache

**/node_modules
**/.next
**/out
**/.turbo
**/.vercel
**/tsconfig.tsbuildinfo

*.log
*.test
*.out

**/.env
**/*.ed
**/*.pub
**/*.pem
**/*.srl
**/*.crt
**/*.key
**/*.cnf
**/*.jks
**/*.p12
**/*_creds.txt
**/*.conf
**/config.xml
**/tls.xml
**/users.xml
