name: chronoverse
services:
  postgres:
    image: postgres:alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=chronoverse
    ports:
      - '5432:5432'
    restart: on-failure
    volumes:
      - postgres:/var/lib/postgresql/data
    healthcheck:
        test: ['CMD-SHELL', 'pg_isready -q -d chronoverse -U postgres']
        timeout: 10s
        interval: 5s
        retries: 10
    networks:
      - chronoverse

  migrate:
      image: migrate/migrate:latest
      container_name: migrate
      profiles: ['tools']
      volumes:
          - ./internal/pkg/postgres/migrations:/migrations
      entrypoint:
          [
              'migrate',
              '-path',
              '/migrations',
              '-database',
              'postgresql://postgres:postgres@postgres:5432/chronoverse?sslmode=disable',
          ]
      command: ['up']
      restart: on-failure
      depends_on:
          postgres:
              condition: service_healthy
      networks:
          - chronoverse

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - '6379:6379'
    restart: on-failure
    volumes:
      - redis:/data
    healthcheck:
        test: ['CMD-SHELL', 'redis-cli ping | grep PONG']
        interval: 10s
        timeout: 5s
        retries: 10
    networks:
      - chronoverse

  lgtm:
    image: grafana/otel-lgtm
    container_name: lgtm
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    restart: on-failure
    volumes:
      - lgtm:/data
      - otel-lgtm:/otel-lgtm
    ports:
      - '4317:4317'
      - '4318:4318'
      - '3000:3000'
    networks:
      - chronoverse

  users-service:
    image: users-service
    container_name: users-service
    environment:
      - POSTGRES_HOST=postgres
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4317
      - OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://lgtm:4317
      - OTEL_EXPORTER_OTLP_LOGS_INSECURE=true
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_LOGS_EXPORTER=otlp
      - OTEL_METRIC_EXPORT_INTERVAL=500
      - OTEL_BSP_SCHEDULE_DELAY=500
      - ENV=production
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VERSION=v0.0.1
        - NAME=users-service
    ports:
      - '50051:50051'
    restart: on-failure
    depends_on:
      - postgres
      - lgtm
    networks:
      - chronoverse

  server:
    image: server
    container_name: server
    environment:
      - SERVER_HOST=0.0.0.0
      - USERS_SERVICE_HOST=users-service
      - REDIS_HOST=redis
      - ENV=production
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VERSION=v0.0.1
        - NAME=server
    ports:
      - '8080:8080'
    restart: on-failure
    depends_on:
      - users-service
      - redis
    networks:
      - chronoverse

volumes:
  postgres:
  redis:
  lgtm:
  otel-lgtm:

networks:
  chronoverse:
    name: chronoverse
    driver: bridge