name: chronoverse
services:
  postgres:
    image: postgres:alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=chronoverse
    ports:
      - '5432:5432'
    restart: on-failure
    volumes:
      - postgres:/var/lib/postgresql/data
    healthcheck:
        test: ['CMD-SHELL', 'pg_isready -q -d chronoverse -U postgres']
        timeout: 10s
        interval: 5s
        retries: 10
    networks:
      - chronoverse

  migrate:
      image: migrate/migrate:latest
      profiles: ['tools']
      volumes:
          - ./internal/pkg/postgres/migrations:/migrations
      entrypoint:
          [
              'migrate',
              '-path',
              '/migrations',
              '-database',
              'postgresql://postgres:postgres@postgres:5432/chronoverse?sslmode=disable',
          ]
      command: ['up']
      restart: on-failure
      depends_on:
          postgres:
              condition: service_healthy
      networks:
          - chronoverse

  redis:
    image: redis:alpine
    container_name: redis
    environment:
      - REDIS_PASSWORD=chronoverse
    ports:
      - '6379:6379'
    restart: on-failure
    volumes:
      - redis:/data
    healthcheck:
        test: ['CMD-SHELL', 'redis-cli ping | grep PONG']
        interval: 10s
        timeout: 5s
        retries: 10
    networks:
      - chronoverse

  auth-service:
    image: auth-service
    container_name: auth-service
    environment:
      - REDIS_HOST=redis
      - POSTGRES_HOST=postgres
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - SERVICE_NAME=auth-service
    ports:
      - '50051:50051'
    restart: on-failure
    depends_on:
      - postgres
      - redis
    networks:
      - chronoverse

volumes:
  postgres:
  redis:

networks:
  chronoverse:
    name: chronoverse
    driver: bridge
