global
  log stdout format raw daemon
  maxconn 4000

defaults
  mode http
  log global
  option httplog
  option dontlognull
  option http-server-close
  option redispatch
  retries 3
  timeout http-request 10s
  timeout queue 1m
  timeout connect 10s
  timeout client 10m
  timeout server 10m
  timeout http-keep-alive 10s
  timeout check 10s
  maxconn 3000

backend dockerbackend
  server dockersocket /var/run/docker.sock

frontend dockerfrontend
  bind :2376 ssl crt /certs/docker-proxy/server.pem ca-file /certs/docker-proxy/ca.crt verify required

  acl authorized req.hdr(X-Chronoverse-Docker-Proxy-Token) -m str "${DOCKER_PROXY_TOKEN}"
  http-request deny unless authorized

  acl read_method method GET HEAD
  acl post_method method POST
  acl delete_method method DELETE
  acl ping_or_version path,url_dec -m reg -i ^(/v[0-9.]+)?/((_ping)|(version))/?$
  acl image_inspect path,url_dec -m reg -i ^(/v[0-9.]+)?/images/.+/json/?$
  acl image_create path,url_dec -m reg -i ^(/v[0-9.]+)?/images/create/?$
  acl container_inspect path,url_dec -m reg -i ^(/v[0-9.]+)?/containers/[a-zA-Z0-9_.-]+/json/?$
  acl container_logs path,url_dec -m reg -i ^(/v[0-9.]+)?/containers/[a-zA-Z0-9_.-]+/logs/?$
  acl container_create path,url_dec -m reg -i ^(/v[0-9.]+)?/containers/create/?$
  acl container_action path,url_dec -m reg -i ^(/v[0-9.]+)?/containers/[a-zA-Z0-9_.-]+/((start)|(stop)|(wait))/?$
  acl container_delete path,url_dec -m reg -i ^(/v[0-9.]+)?/containers/[a-zA-Z0-9_.-]+/?$
  acl network_inspect path,url_dec -m reg -i ^(/v[0-9.]+)?/networks/[a-zA-Z0-9_.-]+/?$
  acl network_create path,url_dec -m reg -i ^(/v[0-9.]+)?/networks/create/?$

  http-request allow if read_method ping_or_version
  http-request allow if read_method image_inspect
  http-request allow if post_method image_create
  http-request allow if read_method container_inspect
  http-request allow if read_method container_logs
  http-request allow if post_method container_create
  http-request allow if post_method container_action
  http-request allow if delete_method container_delete
  http-request allow if read_method network_inspect
  http-request allow if post_method network_create
  http-request deny

  default_backend dockerbackend
